<!-- request_password_reset.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Request Password Reset{% endblock %}

{% block content %}
<div class="container">
    <h4>Request Password Reset</h4>
    <p style="color:red;">{% if error %} {{ error }} {% endif %}</p>
    <p style="color:black;">{% if reset_url %} {{ reset_url }} {% endif %}</p>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email">Email address:</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <button type="submit" class="btn btn-info">Send Reset Link</button>
    </form>
</div>
{% endblock %}
