{% extends 'base.html' %}

{% block title %}{{ user.username }}'s Dashboard{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <div class="row">
        <div class="col-6">
            <h4 style="color:green">Student Dashboard</h4> <hr>
            <h6><em>***Welcome, {{ user.first_name }}***</em></h6>
            <small><b>Matric No:</b> {{ user.matric_number}}</small><br>
            <small><b>Department:</b> {{ user.department }}</small>
        </div>
        <div class="col-6">
            <h4 class="" style="margin-bottom: 45px;"></h4> <hr>
            <!-- Display User Photo -->
            <div class="user-photo" style="margin-left:50px; float: right;">
                <img src="{{ user.applications.first.student_photo.url }}" alt="User Photo" class="img-thumbnail" 
                style="width: 70px; height: 70px; border-radius: 100%;">
            </div> 
        </div>
    </div>
    <hr>  <br>
    <!-- Dashboard-specific content goes here -->

    <!-- Personal & Academic Data -->
    <div class="row">
        <div class="col-6">
            <h5 style="color:green">Personal Data</h5><hr>
            <li><b>Full Name:</b> {{ user.first_name }}, {{ user.last_name}}</li>
            <li><b>Gender:</b> {% if user.gender == 'M' %}Male{% else %}Female{% endif %}</li>
            <li><b>Address:</b> {{ user.contact_address }}</li>
            <li><b>Age:</b> {{ user_age }}</li>
            <li><b>Phone Number:</b> {{ user.phone_number }}</li>
        </div>
        <div class="col-6">
            <h5 style="color:green">Academic Data</h5><hr>
            <li><b>Faculty:</b> {{ user.faculty }}, {{ user.last_name}}</li>
            <li><b>Department:</b>{{ user.department }}</li>
            <li><b>Matric No:</b> {{ user.matric_number }}</li>
            <li><b>Email:</b> {{ user.email }}</li>
            <li><b>Year of Study:</b> 2024</li>
        </div>
    </div>
    <br><br>



    <!-- Applications Table -->
    <h5 style="color:green">My Applications</h5>
    {% if applications %}
    <div class="table-responsive"> 
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Posting Place</th>
                    <th>Start Date</th>
                    <th>CGPA</th>
                    <th>Director Approval</th>
                    <th>Work Completed</th>
                    <th>Payment Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for application in applications %}
                <tr>
                    <td>{{ application.posting_place.name }}</td>
                    <td>{{ application.start_date }}</td>
                    <td>{{ application.cgpa }}</td>
                    <td>{{ application.get_status_display }}</td>
                    <td>{{ application.work_completed }}</td>
                    <td>{% if application.payment_status %}<span style="color:green">Paid</span>
                        {% else %}<span style="color:red">Unpaid</span>{% endif %}</td>
                    <td><a class="btn btn-info" href="{% url 'application_detail' application.id %}">View</a></td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No applications submitted</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p style="color:red;">No applications submitted!</p><hr> <br>
         <!-- Application Form -->
        <h5>Apply for a Job Placement</h5>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ application_form|crispy }}
            <button type="submit" name="apply_place" class="btn btn-info">Submit Application</button>
        </form>
        <br> <br>

        <!-- Form for adding a new posting place -->
    <h5>Job Placement Not In The List? Add One Now & Apply!</h5> <hr>
    <form method="post">
        {% csrf_token %}
        {{ posting_place_form|crispy }}
        <button type="submit" class="btn btn-info" name="add_post_place">Add Place</button>
    </form>

    {% endif %}<br><hr>

    <!-- Form for submitting work status -->
    <div class="row">
        <div class="col-6">
            <!-- Bank Details Form -->
            <h5 style="color:green">Bank Details</h5>
            {% if bank_detail %}
                <p><strong>Bank Name:</strong> {{ bank_detail.bank_name }}</p>
                <p><strong>Account Number:</strong> {{ bank_detail.account_number }}</p>
                <p><strong>Account Name:</strong> {{ bank_detail.account_name }}</p>
                <a href="{% url 'add_bank_details' %}" class="btn btn-info">Update Bank Details</a> <br>
            {% else %}
                <p>No bank details provided yet.</p>
                <a href="{% url 'add_bank_details' %}" class="btn btn-info">Add Bank Details</a> <br>
            {% endif %}
        </div>

        <div class="col-6">
            <h5 style="color:green">Weekly Report Status</h5>
            
            {% if applications %}
                {% for application in applications %}
                    {% if  application.status == 'pending' %}
                        <p style="color:red;">Oops! Your application hasn't been approved yet!</p>
                    {% else %}
                        {% if  application.status == 'rejected' %}
                            <p style="color:red;">Sorry! Your application has been rejected!</p>
                    {% else %}
                        {% if work_statuses_count < max_submissions %}
                            <form method="post" action="{% url 'submit_work_status' %}">
                                {% csrf_token %}
                                {{ work_status_form|crispy }}
                                <button type="submit" class="btn btn-info">Click Here To Send</button>
                            </form>
                        {% else %}
                            <p style="color:red;">You have reached the maximum number of weekly submissions ({{ max_submissions }}).</p>
                        {% endif %}
                    {% endif %}
                    {% endif %}
                {% endfor %}
                
            {% else %}
                <p style="color:red;">You have no application!</p>
            {% endif %}
        </div>
    </div>
    
    <br><br><br>
   


    <!-- Table to display work status -->
    <h5 style="color:green">Your Weekly Report Status</h5>
    <div class="table-responsive">        
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>Day</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Supervisor Name</th>
                    <th>Comments</th>
                     <th>Supervisor Approval</th>
                </tr>
            </thead>
            <tbody>
                {% for status in work_statuses %}
                <tr>
                    <td>{{ status.day }}</td>
                    <td>{{ status.date }}</td>
                    <td>{{ status.time }}</td>
                    <td>{{ status.supervisor_name }}</td>
                    <td>{{ status.comments }}</td>
                    <td>{{ status.supervisor_approval }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3">No work status entries found.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table> 
    </div>

    <br><br>

 {% endblock %}
