{% extends 'base.html' %}

{% block title %}Submit Work Status{% endblock %}

{% load crispy_forms_tags %}


{% block content %}
    <h4 style="color:green;">Student's Weekly Work Status</h4>
    <div class="row">
        <div class="col-6">
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-info">Submit Work Status For This Week</button>
            </form>
        </div>
    </div>
{% endblock %}
